* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: "pirata one";
    src: url(../fonts/PirataOne-Regular.ttf);
}

body {
    font-family: "roboto", sans-serif;
    background-color: rgb(47, 55, 63);
}

header{
    background-color: rgb(44, 42, 40);
    height: 150px;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

h1 {
    color: rgb(243, 231, 231);
    display: flex;
    justify-content: center;
}

h2 {
    color: brown;
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: xx-large;
}


.gridContain {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    gap: 20px;
    padding: 20px;
    margin: 30px;
    grid-auto-flow: dense;
    font-size: 1rem;
    font-weight:900;
    color: aliceblue;

}

.gridItem {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(154, 125, 180);
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    
}

.gridItem:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}

.lucia{
    background-image: url(../img/lucia.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

.martin{
    background-image: url(../img/Martin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.lila{
    background-image: url(../img/Lila.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.santi{
    background-image: url(../img/Santi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ramiro{
    background-image: url(../img/ramiro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jane{
    background-image: url(../img/jane.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nico{
    background-image: url(../img/Nico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ragnar{
    background-image: url(../img/ragnar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bruce{
    background-image: url(../img/bruce.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.matias{
    background-image: url(../img/matias.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}








